body{background-color:rgb(240,242,245);
}

h1{
    color: rgb(8,102,255);
    font-size: 45px;
    font-weight: 800;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    margin-top: 40px;
}

#login{
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:396px;
    margin-left: 430px;
    margin-top:-20px ;
    height: 300px;
}

span{
    line-height: 2.5;
    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
}

#username{
    width:360px;
    padding: 14px 16px 14px 16px;
    border: 1px solid rgb(221,223,226);
    border-radius: 6px;
    font-size: 17px;
    margin:6px 0px 6px 0px;
   /* vertical-align: middle;*/
}

#password{
    width:360px;
    border-radius: 6px;
    border: 1px solid rgb(221,223,226);
    padding:14px 16px 14px 16px;
    font-size: 17px;
    margin:6px 0px 6px 0px;
}

#button{
    width:360px;
    border-radius: 6px;
    background-color: rgb(8,102,255);
    margin:6px 0px 6px 0px;
    padding:14px 16px 14px 16px;
    border: 1px solid rgb(221,223,226);
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    font-size:20px;
    font-weight: 700;
}

a{
    font-size: 15px;
    font-weight: 350;
    font-family: "IBM Plex Sans", sans-serif;
    color:  rgb(8,102,255);
    text-decoration: none;
    padding: 12px 0px 18px 0px;
    
}

a:hover{
    text-decoration: underline;
}
